<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>bookcarts</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>test</servlet-name>
    <servlet-class>com.example.book1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/book</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>number</servlet-name>
    <servlet-class>com.example.booknumber</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>number</servlet-name>
    <url-pattern>/number</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>total</servlet-name>
    <servlet-class>com.example.totalBuy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>total</servlet-name>
    <url-pattern>/total</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mssql</servlet-name>
    <servlet-class>com.example.sql</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mssql</servlet-name>
    <url-pattern>/mssql</url-pattern>
  </servlet-mapping>
</web-app>